<% provide(:title, "Вход") %>
<div class="row text-center">
  <h1>Вход</h1>
</div>

<div class="row">
  <div class="small-10 small-centered medium-4 columns text-center">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password, "Пароль" %>
      <%= f.password_field :password %>

      <%= f.submit "Войти", class: "button" %>
    <% end %>

    <p>Нет аккаунта? <%= link_to "Создайте!", signup_path %></p>
  </div>
</div>