<% provide(:title, "Редактирование профиля") %>
<div class="row text-center">
  <h1>Редактирование профиля</h1>
</div>
<div class="row">
  <div class="small-10 small-centered medium-4 columns text-center">
    <%= form_for(@group) do |f| %>
      <%= render 'shared/error_messages', object: f.object%>

      <%= f.label :name, "Название группы "%>
      <%= f.text_field :name, required: true %>

      <%= f.label :email, "Email" %>
      <%= f.text_field :email, required: true %>

      <%= f.label :password, "Пароль" %>
      <%= f.password_field :password, required: true %>

      <%= f.label :password_confirmation, "И снова пароль" %>
      <%= f.password_field :password_confirmation, required: true %>

      <%= f.submit "Обновить", class: "button" %>
    <% end %>
  </div>
</div>