<% provide(:title, @group.name) %>
<div class="row">
  <div class="small-12 columns text-center">
    <h1>
      <%= @group.name %>
    </h1>
    <h5 class="center"> 
      <% if @week.nil? %>
        <% @week = what_week? %>
        <%= @week %>
      <% else %>
        <%= @week %>
      <% end %>
    - Неделя</h5>
  </div>
</div>

<% if @group.lessons.any? %>

  <%= render "lessons/pagination" %>

  <div class="row">
    <%= render "lessons/lesson" %>
  </div>

<% end %>

<div class="row">
  <div class="small-12 columns text-center">
    <% if signed_in? && current_group?(@group) %>
      <%= link_to "Добавить занятие", new_lesson_path, class: "button"%>
    <% end %>
  </div>
</div>