<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <%= link_to "Timetable", root_path %>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li class="active"></li>
        <li class="active"><%= link_to "Группы", groups_path %></li>
        <% if signed_in? %>
          <li class="has-dropdown">
            <a href="#"><%= current_group.name %></a>
            <ul class="dropdown">
              <li><%= link_to "Профиль", current_group %></li>
              <li><%= link_to "Настройки", edit_group_path(current_group) %></li>
              <li class="divider"></li>
              <li class="has-form"><%= link_to "Выйти", signout_path, method: "delete", class: "button" %></li>
            </ul>
          </li>
        <% else %>
          <li class="has-form"><%= link_to "Войти", signin_path, class: "button" %></li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>